
@import "~bootstrap/scss/bootstrap";

.colornav{
    background-color:hsl(120, 100%, 90%) !important;

    .myname{
        font-size:1.5rem;
        padding-left:7vw;
    }
}

.mainpicture{
        margin: 5rem auto;
        display: block;
}



